#navbar{
    background-color: #7cb6b8;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    height: 75px;
}

#navbar h1{
    color: white;
}

#sign-btn{
    background-color: #699b9a;
    color: white;
    border: unset;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
    margin: 0 1rem;
  
}
#register-btn{
    background-color: white;
    color: black;
    border: unset;
    padding: 0.5rem;
    border-radius: 25px;
    width: 125px;
  
}

a{
    text-decoration: none;
}